body.signin-body {
    background-color: #FFFFFF;
}

.container.signin-container {
    margin-top: 15vh;
}

.card.signin-card {
    background-color: #ffffff;
    padding: 40px 0px 20px;
    box-shadow: 2px 2px 5px rgba(0,0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0, 0, 0.5);
    /* transition: .2s ease-in; */
}

.card.signin-card:hover {
    box-shadow: 2px 5px 5px rgba(0,0, 0, 0.5);
}

img.signin-logo {
    padding: 0rem 2rem 2rem;
    margin: auto;
    display: block;
    /* width: 50%; */
}

form.signin-form {
    max-width: 350px;
    margin: auto;
}

button.signin-btn {
    color: #FFFFFF;
    background-color: #3174F1;
    width: 100%;
    margin-bottom: 1.2rem;
}

button.signin-btn:hover {
    opacity: 0.96;
    box-shadow: 0px 2px 3px rgba(0,0, 0, 0.5);
}

a.create-new-account {
    display: block;
    text-align: center;
    margin-top: 15px;
}